.profile_box {
  width: 25%;
  max-width: 272px;
  margin-right: 26px;
}

.profile_image_wrapper {
  width: 100%;
  border: 1px solid #e1e4e8;
}

.profile_image_wrapper .profile_image {
  display: block;
  width: 100%;
}

.profile_username {
  margin: 0;
  padding-top: 16px;
  font-size: 26px;
}

.profile_user_login {
  margin: 0;
  font-size: 20px;
}

.profile_user_bio {
  margin: 0;
  padding-top: 16px;
  font-size: 14px;
}


